body{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
body::before{
    position: absolute;
    border: solid 1px black;
    margin-top: 10px;
    top:60;
    content: "THIS WEBSITE IS NOT FINISHED.";
    color: blue;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-bar ul{
    display: flex;
    flex:wrap;
    gap: 20px;
}
.nav-bar ul li:last-child{
    margin: 0;
    padding: 1rem 2rem;
    background-color: 00BC57;
    border-radius: 1.25rem;
}
ul a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.header{
    align-content: center;
}
.intro .introduce h1 {
    font-family: "Onest";
    line-height: 0rem;
    font-size: 3.2rem;
    font-weight: 100;
}
.intro .introduce .bold {
    font-weight:500;
}
.introduce{
    margin-top: 5.8rem;
}
.i_am {
    font-family: Mooli;
    font-size: 16px;
    line-height: 0px;
}
.text{
    line-height: 0.62rem;
}
.i_am{
    font-family: Mooli;
    font-size: 1.5rem;
}
.fromBrazil h2{
    font-family: Mooli;
    font-size: 1.5rem;
}
.fromBrazil span{
    color: 00BC57;
    font-family: Mooli;
    font-size: 1.5rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
}
.profile{
    align-self: center;
    justify-self: end;
    grid-column: 2;
}
.profile img{
    height: 16.75rem;
    width: 16.75rem;
}
.about-me{
    line-height: 0.93rem;
    text-align: center;
}
.about-me .i_develop h2{
    font-family: Onest;
    font-size: 2rem;
    font-weight: 250;
}
.bold{
    font-weight: bold;
}
.about-me .i_do{
    padding-top: 6.25rem;
    font-family: Onest;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 1.87rem;
}
.profile{
    margin-top: 3.125rem;
    margin-right: 0.625rem;
    border-top: solid #00BC57 0.62rem;
    border-right: solid #00BC57 0.62rem;
}
.about-me{
    margin-top:2rem;
    border-bottom: solid #00BC57 0.62rem;
}
.last{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Onest;
    font-size: 2rem;
    font-weight: 500;
}
.skills{    
    margin-top: 4rem;
    font-family: Onest;
    font-size: 2rem;
    font-weight: 500;
}

.card_area .date{
    font-weight: 300;
    font-size: 1.12rem;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card_area .sub_tittle{
    color: 00BC57;
    font-size: 1.5rem;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card_area .desc{
    padding-bottom: 0px;
    font-family: Onest;
    font-size:1.5rem;
    font-weight: 500;
}
.card_area a{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    color: white;
    font-weight: 450;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: 00BC57;
    border-radius: 1.25rem;
}
.card_area{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(1fr,1fr));
}
.card{
    cursor: pointer;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.625rem;

}
.card a{
    display: none;
}
.card:nth-child(even){
   grid-column: 2;
}
.card img{
    width: 200px;
}
.body_grey{
    margin-top: 3.5rem;
    display: grid;
    background: #ececec;
    text-align: center;
}
.subtittle{
    font-family: Onest;
    font-weight: 500;
    font-size: 1.8rem;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.subtittle img{
    margin-top: 2.625rem;
    height: 1.875rem;
    width: 1.875rem;
}
.card_others{
    justify-content: space-between;
    padding: 1.25rem 5rem 1.25rem 5rem;
    justify-content: space-between;
    text-align: start;
    position: relative;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
    background-color: white;
}
.card_languages{
    justify-content: space-between;
    padding: 1.25rem 5rem 1.25rem 5rem;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
    margin-bottom: 5rem;
    background-color: white;
}
.card_languages .workload_level{
    grid-column: 2;
    justify-self: start;
}
.card_others .workload_level{
    grid-column: 2;
    justify-self: start;
}
footer{
    padding-top: 1.006rem;
    color: white;
    text-align: center;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

.copyright h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    font-family: Onest;
    color: black;
}
.body_black .contact_area{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(1fr,1fr));
    justify-content: center;
    padding-bottom: 4rem;
}

.body_black .contact h1{
    font-size: 1.5rem;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.body_black h1:first-child{
    font-family: Onest;
    font-weight:550;
    color: white;
}
.body_black h1{
    font-family: Onest;
    font-weight: 250;
    font-size: 1.93rem;
    color: white;
}
.body_black h1{
    font-family: Onest;
    font-weight: 250;
    font-size: 1.93rem;
    color: white;
}
.body_black a{
    text-decoration: none;
    color: white;
}
.course{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(1fr,1fr));
    justify-content: space-between;
    text-align: center;
    font-family: Onest;
    font-weight: 31.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color:black;
    border-bottom: solid 1px rgb(222, 218, 218);
}
.language{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(1fr,1fr));
    justify-content: space-between;
    text-align: center;
    font-family: Onest;
    font-weight: 31.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color:black;
    border-bottom: solid 1px rgb(222, 218, 218);
}
.currently{
    font-size: 1.4rem;
    font-family: Mooli;
}
ul li{
    font-family: Onest;
    font-size: 1.12rem;
}

body section{
    opacity: 0;
    transform: translate3d(-30px,0,0);
    transition: .3s;
}
body section.ativo{
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: .3s;
}
@media (max-width: 1250px) {
  }
