body{
    width: 900px;
    margin: 0 auto;

}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-bar ul{
    display: flex;
    flex:wrap;
    gap: 20px;
}
.nav-bar ul li:last-child{
    margin: 0;
    padding: 1rem 2rem;
    background-color: 00BC57;
    border-radius: 1.25rem;
}
ul a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.header{
    align-content: center;
}
.intro .introduce h1 {
    font-family: "Onest";
    line-height: 0rem;
    font-size: 3.2rem;
    font-weight: 100;
}
.intro .introduce .bold {
    font-weight:500;
}
.i_am {
    font-family: Mooli;
    font-size: 16px;
    line-height: 0px;
}
.text{
    line-height: 0.62rem;
}
.i_am{
    font-family: Mooli;
    font-size: 1.5rem;
}
.fromBrazil h2{
    font-family: Mooli;
    font-size: 1.5rem;
}
.fromBrazil span{
    color: 00BC57;
    font-family: Mooli;
    font-size: 1.5rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
}
.profile{
    align-self: center;
    justify-self: end;
    grid-column: 2;
}
.profile img{
    height: 16.75rem;
    width: 16.75rem;
}
.about-me{
    line-height: 0.93rem;
    text-align: center;
}
.about-me .i_develop h2{
    font-family: Onest;
    font-size: 2rem;
    font-weight: 250;
}
.bold{
    font-weight: bold;
}
.about-me .i_do{
    padding-top: 6.25rem;
    font-family: Onest;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 1.87rem;
}
.profile{
    margin-top: 3.125rem;
    margin-right: 0.625rem;
    border-top: solid #00BC57 0.62rem;
    border-right: solid #00BC57 0.62rem;
}
.about-me{
    border-bottom: solid #00BC57 0.62rem;
}
.last{
    font-family: Onest;
    font-size: 2rem;
    font-weight: 500;
}

.card_area .date{
    font-weight: 300;
    font-size: 1.12rem;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card_area .sub_tittle{
    color: 00BC57;
    font-size: 1.5rem;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card_area .desc{
    padding-bottom: 0px;
    font-family: Onest;
    font-size:1.5rem;
    font-weight: 500;
}
.card_area a{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    color: white;
    font-weight: 450;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: 00BC57;
    border-radius: 1.25rem;
}
.card_area{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(1fr,1fr));
}
.card{
    cursor: pointer;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.625rem;

}
.card a{
    display: none;
}
.card:nth-child(even){
   grid-column: 2;
}
.card img{
    width: 200px;
}
.body_grey{
    margin-top: 7.5rem;
    display: grid;
    background-color: ECECEC;
    text-align: center;
}
.subtittle{
    font-family: Onest;
    font-weight: 500;
    font-size: 1.8rem;
}
.card_others{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: start;
    position: relative;
    padding: 1.25rem;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
    background-color: white;
}
.card_languages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25rem;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
    margin-bottom: 5rem;
    background-color: white;
}
footer{
    padding-top: 1.006rem;
    color: white;
    text-align: center;
    background-color: black;
}
.body_black{
    display: grid;
}

.body_black h1:first-child{
    font-family: Onest;
    font-weight:550;
    color: white;
}
.body_black h1{
    font-family: Onest;
    font-weight: 250;
    font-size: 1.93rem;
    color: white;
}
.body_black h1{
    font-family: Onest;
    font-weight: 250;
    font-size: 1.93rem;
    color: white;
}
.body_black a{
    text-decoration: none;
    color: white;
}
.course{
    text-align: start;
    font-family: Onest;
    font-weight: 31.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color:black;
}
.language{
    text-align: start;
    font-family: Onest;
    font-weight: 31.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color:black;
}
.currently{
    font-size: 1.4rem;
    font-family: Mooli;
}
ul li{
    font-family: Onest;
    font-size: 1.12rem;
}
