@font-face {
    font-family: "Mooli";
    src: url("/portifolio/font/Mooli-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Onest";
    src: url("/portifolio/font/Onest-VariableFont_wght.ttf") format("truetype");
}
.body_white{
    display: grid;
    place-items: center;
    gap: 5rem;
    background-color: white;

}
.body_grey{
    margin-top: 7.5rem;
    display: grid;
    place-items: center;
    gap: 8rem;
    background-color: ECECEC;
}
.body_black{
    display: grid;
    place-items: center;
    gap: 8rem;
    background-color: black;
}
.header {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap:53rem;
}
.about-me{
    line-height: 0.93rem;
    text-align: center;
}
.about-me .i_develop h2{
    font-family: Onest;
    font-size: 2.5rem;
    font-weight: 250;
}
.bold{
    font-weight: bold;
}
.about-me .i_do{
    padding-top: 6.25rem;
    font-family: Onest;
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 1.87rem;
}
.about-me::after{
    content: '';
    width: 50rem;
    height: 0.62rem;
    background-color: 00BC57;
    position: absolute;
    left: 34.81rem;
    margin-top: 1rem;
}
.last{
    font-family: Onest;
    font-size: 2.5rem;
    font-weight: 500;
}
.card_area .main_card::before{
    z-index: 2;
    color: white;
    left: 0.31rem;
    content: 'The Last one Project';
    width: 100%;
    position: absolute;
    bottom: 26.25rem;
    font-family: Mooli;
    font-size: 1.25rem;
    font-weight: bolder;
}
.card_area .tittle{
    position: absolute;
    color: blue;
    z-index: 6;
    right: 18.75rem;
}
.card_area{
    justify-content: end;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4.5rem;
    width: 100%;
    height: 31rem;
    background-color: 00BC57;
    border-radius: 1.25rem;
    position: relative;
}
.main_card{
    box-shadow: 0 0 3.43rem rgba(0, 0, 0, 0.8);
    box-shadow: 0.625rem;
    margin-right: 0.625rem;
    transform: rotate(3deg);
    margin-top: 1.25rem;
    border-radius: 1.25rem;
    background-color: 363636;
    height: 25rem;
    width: 18.75rem;
}
.card_area .date{
    color: white;
}
.card_area .subtittle{
    color: 00BC57;
}
.card_area a{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    color: white;
    font-weight: 450;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: 00BC57;
    border-radius: 1.25rem;
}
.card{
    box-shadow: 0 0 3.43rem rgba(0, 0, 0, 0.8);
    z-index: 1;
    margin-top: 1.25rem;
    border-radius: 1.25rem;
    background-color: 363636;
    height: 25rem;
    width: 18.75rem;
    position: absolute;
}
.card:nth-child(2) {
    left: 7.5rem;
    position: relative;
    z-index: 2;
}
.card:nth-child(3) {
    left: 2.5rem;
    position: relative;
    z-index: 3;
}
.card:nth-child(4) {
    right: 1.25;
    position: relative;
    z-index: 4;
}
.card:last-child{
    margin-right: 5.37rem;
}
.last{
    margin-top: 11.25rem;
  }
.nav-bar{
    padding-top: 1rem;
}
.intro{
    gap: 40.62rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.profile img{
    padding-right: 2.5rem;
    height: 18.75rem;
    width: 18.75rem;
}
.profile::after{
    content: '';
    top: 17rem;
    right: 15.70rem;
    position: absolute;
    height: 0.62rem;
    width: 21.87rem;
    background-color: 00BC57;
}
.profile::before{
    content: '';
    right: 15.70rem;
    bottom: 22.87rem;
    height: 21.67rem;
    width: 0.62rem;
    background-color: 00BC57;
    position: absolute;
}
.info{
    position: relative;
    padding-top: 3.12rem;
    padding-bottom: 5rem;
    margin-left: none;
    text-align: center;
    margin-top: 5rem;
    background-color: ECECEC;
}
.subtittle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2.5rem;
}
.subtittle:nth-child(4){
    gap: 1.5rem;
}
.subtittle:nth-child(5){
    gap: 1.87rem;
}
.intro .introduce h1 {
    font-family: "Onest";
    line-height: 0rem;
    font-size: 4rem;
    font-weight: 100;
}
.i_am{
    font-family: Mooli;
    font-size: 1.5rem;
}
.fromBrazil h2{
    font-family: Mooli;
    font-size: 1.5rem;
}
.fromBrazil span{
    color: 00BC57;
    font-family: Mooli;
    font-size: 1.5rem;
}
.text{
    line-height: 0.62rem;
}

.intro .introduce .bold {
    font-weight:500;
}
.intro .profile {
    justify-self: end;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
ul a{
    text-decoration: none;
    color: black;
}
ul li{
    font-family: Onest;
    font-size: 1.12rem;
    padding-top: 1rem;
}
.logo{
    padding-top: 1rem;
}
.img ul{
    display: flex;
    flex-wrap: wrap;
}

.nav-bar ul li:last-child{
    margin: 0;
    padding: 1rem 2rem;
    background-color: 00BC57;
    border-radius: 1.25rem;
}
.course{
    align-items: end;
    position: relative;
    gap: 33.12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.language:not(:last-child)::before{
    top: 3.37rem;
    content: '';
    right: 4.62rem;
    position: absolute;
    background-color: 8F8F8F;
    width: 62.18rem;
    height: 0.0625rem;
}
.course:not(:last-child)::after{
    top: 4.37rem;
    content: '';
    right: 6.75rem;
    position: absolute;
    background-color: 8F8F8F;
    width: 60rem;
    height: 1px;
}
.language{
    text-align: start;
    padding-left: 6.25rem;
    position: relative;
    gap: 33.12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card_others{
    text-align: start;
    position: relative;
    padding: 1.25rem;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
    background-color: white;
}
.card_languages{
    position: relative;
    padding: 1.25rem;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
    background-color: white;
}
footer{
    padding-top: 1.006rem;
    color: white;
    text-align: center;
    background-color: black;
}
.contact_area{
    color: white;
    padding: 1.56rem 17.5rem;
    margin: 0;
    background-color: black;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    gap:15.5rem;

}
a{
    text-decoration: underline;
    color: white;
}
.card_area .date{
    font-weight: 300;
    font-size: 1.12rem;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card_area .sub_tittle{
    color: 00BC57;
    font-size: 1.5rem;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card_area .desc{
    padding-bottom: 0px;
    font-family: Onest;
    font-size:1.5rem;
    font-weight: 500;
}
.white_bold{
    font: Onest;
    color: white;
    font-weight: bold;
}
.subtittle{
    font-family: Onest;
    font-weight: 500;
    font-size: 2.5rem;
}
.currently{
    font-size: 1.62rem;
    font-family: Mooli;
}
.course{
    text-align: start;
    padding-left: 6.25rem;
    font-family: Onest;
    font-weight: 31.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color:black;
}
.workload_level{
    text-align: center;
    font-family: Onest;
    font-weight: 31.25rem;
    font-size: 1.5rem;
    color:363636;
}
.language{
    font-family: Onest;
    font-weight: 31.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color:black;
}
.body_black h1:first-child{
    font-family: Onest;
    font-weight:550;
    font-size: 2.37rem;
    color: white;
}
.body_black h1{
    font-family: Onest;
    font-weight: 250;
    font-size: 1.93rem;
    color: white;
}
.body_black h1{
    font-family: Onest;
    font-weight: 250;
    font-size: 1.93rem;
    color: white;
}
@media(max-width:1600px){
    .header {
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 45rem;
    }
    
}